/* Step-3.1  Not much to do here except add a width */
.content-mid-header {
    background: #444;
    width: 100%;
    height: 15%;
}


/* Step-3.3 add a margin top to give this container some space. Also you're going to want to set the  margin-left and margin-right to auto. This will give equal distance left and right to the container--essentially--centering the container   */
.content-container {
 background: #D8D8D8;
 margin-top: 60px;
 margin-right: 10%;
 margin-left: 10%;
 height: 60vh;
}


/* Step-3.2  Remember to add some padding and text-align*/

.content {
  text-align: center;
  padding-top: 20%;


}
